h1 {
  text-align: center;
  padding: 20px;
}

.wrapper {
  margin: auto;
  margin-top: 50px;
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	width: 460px;
  max-width: 100%;
  height: 580px;
}

.input {
   width: 100% !important;
   margin: auto;
   margin-bottom: 20px;
}

.error {
  font-size: 10px;
  color: red;
  text-align: center;
  position: absolute;
  top: 39px;
  left: 43px;
}

.buttons {
  margin-left: 43px;
  display: flex;
}

ul {
  margin-right: 40px;
  list-style: none;
}

.it {
  position: relative;
}